h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.heading {
  font-weight: 500;

  &--1 {
    font-size: 1.5rem;
  }
}

p,
.body {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;

  &--large {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.5;
  }
}

.inverse {
  color: $color-text-inverse;
}