@font-face {
  font-family: 'Now Alt';
  src: url('../fonts/NowAlt-Thin.otf');
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Now Alt';
  src: url('../fonts/NowAlt-Light.otf');
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Now Alt';
  src: url('../fonts/NowAlt-Regular.otf');
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Now Alt';
  src: url('../fonts/NowAlt-Medium.otf');
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Now Alt';
  src: url('../fonts/NowAlt-Bold.otf');
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Now Alt';
  src: url('../fonts/NowAlt-Black.otf');
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
}
